<h1>Blackjack</h1>

<form action="/take_bet" method="post">
  <label for="bet">Place your bet!</label>
  <input type="text" name="player_bet" value="5"/><br>
  <input type="submit" class="btn btn-large btn-success"/>
</form>
