<h1>Blackjack</h1>

<p>Enter your player name below.</p>

<form id="signup" class="form-inline" action="/signup" method="post">
  <input type="text" name="username"/>
  <input type="submit" class="btn btn-success"/>
</form>
