form#hit {
    float: left;
}

form#stay {
    float: left;
    margin-left: 10px;
}

img {
    margin-right: 10px;
    margin-top: 20px;
}

.alert {
    font-size: 20px;
}

h2 {
    text-align: center;
}

.sayoonara {
    text-align: center;
}