#body {
    background: #e5efc9;
}

form#hit_me {
    float: left;
}

form#dealer_hit {
    float: left;
}

form#play_again {
    float: left;
}

form#stay {
    float: left;
    margin-left: 10px;
}

img {
    margin-right: 10px;
    margin-top: 20px;
}

.alert {
    font-size: 20px;
}

h2 {
    text-align: center;
}

.sayoonara {
    text-align: center;
}


#bet {
    position: absolute;
    right-margin: -300px;
}

#conrols {
    height: 20px;
    width: 940px;
}

#hit {
    position: absolute;
}

#chips {
    float: right;
    font-size: 30px;

}